/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu {
list-style-type:none;
margin:0px;
padding:0px;
font-family:bebasNeue;
font-size:18px;
border-top: 1px solid black;
border-bottom: 1px solid black;
padding:7px 0px 0px 0px;
height:26px;
}

ul.nice-menu a {
display:inline;
color: #756c6a ;
}

ul.nice-menu > li:hover > a, ul.nice-menu > li > ul > li:hover > a {
color: #a53823;
}

ul.nice-menu li {
letter-spacing: .176em;
display:inline;
}

ul.nice-menu ul {
margin:6px 0px 19px 16px;
padding:9px;
background:rgba(255,255,255,1);
background-image: url("../images/background.png");
border-top:none;
border-right:1px solid black;
border-left:1px solid black;
border-bottom:1px solid black;
float:none;
}

ul.nice-menu ul li {
padding:3px 0px 3px 0px;
font-family:Georgia;
white-space:nowrap
}

ul.nice-menu ul li a {
padding:0px;
border:none;
}

ul.nice-menu li a {    /*   .leaf a */
padding: 0px 25px;
border-right: 2px solid #756c6a;
position:relative;
top:20%;
}



/*
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}*/

/******************************
 HORIZONTAL (down) menus
******************************/
/*
ul.nice-menu-down {
  float: left; 
  border: 0;
}*/

/*ul.nice-menu-down li {
  border-top: 1px solid #ccc;
}*/


/*
ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; 
}
*/
/*ul.nice-menu-down ul li {
  clear: both;
}*/
/*
ul.nice-menu-down li ul li ul {
  left: 12.5em; 
  top: -1px;
}
*/
/*
ul.nice-menu-down .menuparent a {
  padding-right: 15px; 
}*/


