/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu > li:hover > a, ul.nice-menu > li > ul > li:hover > a {
color: #a53823;
}

ul.nice-menu a {
color: #756c6a ;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
list-style-type:none;
margin:0px;
padding:0px;
font-family:bebasNeue;
font-size:18px;
border-top: 1px solid black;
border-bottom: 1px solid black;
padding:7px 0px 0px 0px;
height:26px;
z-index:1000;
}

ul.nice-menu-down a {
display:inline;

}

ul.nice-menu-down li {
letter-spacing: .176em;
display:inline;
}

ul.nice-menu-down ul {
margin:6px 0px 19px 16px;
padding:9px;
background:rgba(255,255,255,1);
background-image: url("../images/background.png");
border-top:none;
border-right:1px solid black;
border-left:1px solid black;
border-bottom:1px solid black;
float:none;
z-index:120;
}


ul.nice-menu-down ul li {
padding:3px 0px 3px 0px;
font-family:Kingthings;
font-size:16px;
white-space:nowrap;
letter-spacing:0;
}

ul.nice-menu-down ul li a {
padding:0px;
border:none;
}

ul.nice-menu-down li a {    /*   .leaf a */
padding: 0px 25px;
border-right: 2px solid #756c6a;
position:relative;
top:20%;
}

/******************************
 VERTICAL (right) menus
******************************/


ul.nice-menu-right li {
padding: 8px 21px;
}

ul.nice-menu-right li:first-child {
padding: 42px 21px 8px 21px;
}
