/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------------
--------------------
-----END RESET------
--------------------
------------------*/

@font-face {
    font-family: 'bebasNeue';
    src: url('../fonts/bebasNeue/BebasNeue-webfont.eot');
    src: url('../fonts/bebasNeue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasNeue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebasNeue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebasNeue/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kingthings';
    src: url('../fonts/kingthings/Kingthings_Trypewriter_2-webfont.eot');
    src: url('../fonts/kingthings/Kingthings_Trypewriter_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kingthings/Kingthings_Trypewriter_2-webfont.woff') format('woff'),
         url('../fonts/kingthings/Kingthings_Trypewriter_2-webfont.ttf') format('truetype'),
         url('../fonts/kingthings/Kingthings_Trypewriter_2-webfont.svg#kingthings_trypewriter_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
spring palette

dark grey - #756C6A;
light creme - #E3D7B4;
dark grass - #599F44;
spring green - #86BE40;
yellow-green - #F6ED79;


fall palette

dark grey - #756C6A;
light creme - #E3D7B4;
red - #A53823;
brown - #A36527;
purple - #4C1B4A;

*/

.region-page-top:after {

	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .region-page-top             { zoom: 1; } /* IE6 */
*:first-child+html .region-page-top { zoom: 1; } /* IE7 */


#page-wrapper {
margin:50px 0px;
} 

body {
background: url("../images/background.png");
font-family: georgia;
width:945px;
margin:0 auto;
}

a {
text-decoration:none;
}

/* HEADER */

header {
height:222px;
/*overflow:hidden;*/
width:945px;
position:relative;
z-index:17;
}

#logo {
float:left;
width:214px;
margin-right:43px;
}

/* EXTENDED TAGLINE */

#headerRight {
float:left;
width:688px;
z-index:16;
}

.region-header {
display:inline-block;
float:right;
position:relative;
top:115px;
left:-10px;
}

header h6 {
display:inline;
font-family:kingthings;
color: #A53823;
padding-right:18px;
}

/* Main Nav */


.region-navigation {
float:right;
position:relative;
top:125px;
z-index:15;
}

.region-navigation  ul {

border-top: 1px solid black;
border-bottom: 1px solid black;
}

.region-content-home {
position:relative;
z-index:11;
}

/* CONTENT AREA */

#main-content {
position:relative;
z-index:11;
}

#content {
position:relative;
z-index:10;
}

#block-block-4 {
position:absolute;
z-index:0;
left:-250px;
top:20px;
transform:rotate(17deg);
-ms-transform:rotate(17deg); /* IE 9 */
-webkit-transform:rotate(17deg); /* Safari and Chrome */
}

/* HOME WELCOME */

#content #block-block-2 {
background-color:#4C1B4A;
width:216px;
height:305px;
float:left;
color:#E3D7B4;
font-family:kingthings;
font-size:24px;
padding:104px 42px;
text-align:center;
position:relative;
z-index:1;
}

#content #block-block-2 h1 {
line-height:1.4em;
}

.welcomeLarge {
font-size:36px;
color:white;
padding:30px 0px;
display:inline-block;
}

/* IMAGE SLIDER */

#block-nivo-slider-nivo-slider {
width:645px;
height:513px;
float:left;
position:relative;
z-index:11;
}

.slider-wrapper {
height:513px;
}


/* SIDE MENU */

.region-sidebar-first {
width:226px;
height:537px;
background-color:rgba(227,215,179,.5);
float:left;
color:#756C6A;
text-align:right;
font-family:kingthings;
position:relative;
z-index:8;
}

/* BASIC PAGE */

.node-page {
	width:685px;
	min-height:513px;
	float:left;
	overflow:hidden;
	margin-left:34px;
}

.field-name-field-title {
font-family:bebasNeue;
font-size:18px;
color:#a53823;
letter-spacing:3px;
padding:18px 0px 5px 0px;
}

.field-name-body {
font-style:italic;
font-size:13.5px;
line-height:1.4em;
}



/* FOOTER */

.region-footer {
height:107px;
background-color:#756C6A;
margin-top:23px;
padding:0px 40px 0px 34px;
color:#fff;
position:relative;
}

.region-footer a {
color:#fff;
}

#block-block-3 {
float:left;
}

#block-block-3:after {
visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.region-footer .float {
float:left;
height:85px;
margin:11px 0px;
}

#mailPhone1 {
border-right:1px solid white;
width:20px;
padding-right:6px;
}

#mailPhone1 img:first-child, #twitter1 img:first-child  {
padding-bottom:17px;
padding-top:10px;
}

#mailPhone2 {
font-style:italic;
font-size:11px;
padding-left:8px;
width:163px;
padding-right:45px;
}

#mailPhone2 p:first-child {
padding-bottom:17px;
padding-top:10px;
}

#twitter1 {
border-right: 1px solid white;
width:20px;
padding-right:13px;
}

#block-views-footer-tweets-block {
float:left;
padding:10px 40px 0px 17px;
width:240px;
height:97px;
font-family:"Georgia";
font-size:12px;
line-height:1.3em;
overflow:hidden;
}

#block-views-footer-tweets-block li {
margin:0;
}

#block-views-footer-tweets-block::before {
content:url(../images/upperTweetQuote.png);

}

#block-views-footer-tweets-block::after {
content:url(../images/lowerTweetQuote.png);
position:relative;
left:215px;
top:-25px;
}

#block-block-5 {
position:absolute;
width:320px;
left:615px;
top:17px;
}

/* CLEARFIX */

.clearfix:after, .region-content-home:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */